*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    height: 80%;
    width: 100%;
    background-color: coral;
}
.side_big{
    width: 90%;
    height: 100%;
    background-color: darkred;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: lightgreen;
    width: 100%;
    height: 20%;
}
.main{
    background-color: orange;
    width: 100%;
    height: 80%;
    display: flex;
}
.first{
    height: 100%;
    width: 60%;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    height: 40%;
    width: 100%;
    background-color: brown;
}
.right{
    height: 100%;
    width: 100%;
    background-color: hotpink;
}
.left{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}
.bottom{
    height: 60%;
    width: 100%;
    background-color: orangered;
}
.second{
    height: 100%;
    width: 40%;
    background-color: forestgreen;
}
.side_small{
    width: 10%;
    height: 100%;
    background-color: blue;
}
.footer{
    height: 20%;
    width: 100%;
    background-color: darkviolet;
}

@media screen and (min-width: 992px){
    .wrapper{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .wrapper{
        height: 100%;
        width: 992px;
    }
}

@media screen and (max-width: 882px){
    .wrapper{
        height: 100%;
        width: 882px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 100%;
        width: 768px;
    }
}
